# Agent User Response File
CONFIG_DIR= {{ apache_conf_dir }}
AM_SERVER_URL= {{ openam_server_url }}
AGENT_URL= {{ agent_url }}
AGENT_PROFILE_NAME= {{ agent_profile_name }}
AGENT_PASSWORD_FILE= /tmp/openam_agent_pwd.txt
